.container {
  max-width: 120rem;
  // trick to center the container into its parent element
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-ligth-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  // We don't want it to stretch (0), nor to shrink ()
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  height: 80rem;

  // element should grow as much as possible
  flex: 1;
}
